<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <div class="main_body">
      <%- include("./partials/nav.ejs") %>

      <h2>About Us</h2>
      <div class="about content">
        <div class="single">
          <h3 class="name">M Sai Krupananda</h3>
          <p class="mail">saikrupananda21@gmail.com</p>
          <p class="phoneno">8688554603</p>
          <p class="dept">ISE</p>
        </div>
        <div class="single">
          <h3 class="name">C Koushik</h3>
          <p class="mail">koushik@gmail.com</p>
          <p class="phoneno">9133554603</p>
          <p class="dept">ISE</p>
        </div>
        <div class="single">
          <h3 class="name">CH Sai Sanjay</h3>
          <p class="mail">sanjay@gmail.com</p>
          <p class="phoneno">9854554603</p>
          <p class="dept">ISE</p>
        </div>
      </div>

      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
