<nav>
  <div class="site-title">
    <a href="/"><h1>TravelEx</h1></a>
    <p>A Travel Blog Site</p>
  </div>
  <ul>
    <li><a href="/blogs">All Blogs</a></li>
    <li><a href="/myblogs">My Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/myprofile">My Profile</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
